* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.image {
    display: flex;
    justify-content: center;
    gap: 20px; /* Расстояние между изображениями */
}

img {
    max-width: 25%;
    height: auto;
}

.logo {
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
}

.fab {
    font-size: 24px;
}

.image-container{
    text-align: center;
    border-radius: 15px;
}




.menu-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #777;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    text-align: center;
}